name: Deploy Production

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: registry.is-on.cloud/cs-demo-downloader
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: registry.is-on.cloud
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          target: deploy
          push: true
          tags: ${{ steps.meta.outputs.tags }}

#name: MultiArchDockerBuild
#
#on:
#  push:
#    branches:
#      - master
#
#jobs:
#  build_multi_arch_image:
#    name: Build multi-arch Docker image.
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v4
#
#      - name: Docker meta
#        id: meta
#        uses: docker/metadata-action@v5
#        with:
#          images: ghcr.io/${{ github.repository }}
#          tags: |
#            type=raw,value=latest,enable={{is_default_branch}}
#
#      - name: Set up QEMU
#        uses: docker/setup-qemu-action@v3
#
#      - name: Set up Docker Buildx
#        id: buildx
#        uses: docker/setup-buildx-action@v3
#        with:
#          install: true
#
#      - name: Login to GitHub Container Registry
#        uses: docker/login-action@v3
#        with:
#          registry: ghcr.io
#          username: ${{ github.repository_owner }}
#          password: ${{ secrets.GITHUB_TOKEN }}
#
#      - name: Build and push
#        uses: docker/build-push-action@v5
#        with:
#          target: deploy
#          push: true
#          tags: ${{ steps.meta.outputs.tags }}
#          platforms: linux/amd64,linux/arm64
#          cache-from: type=gha,scope=${{ github.workflow }}
#          cache-to: type=gha,mode=max,scope=${{ github.workflow }}
